In [1]:
#if else

In [2]:
import itertools

In [7]:
marks=35

In [9]:
if marks>=33:
    print('pass')
    print(marks)

pass
35

In [3]:
marks=30
output=None

In [5]:
if marks>=33:
    output='pass'
print(marks)
print(output)

30
None

In [15]:
marks=47

In [7]:
if marks<35:
    print('fail')
else: 
    if marks>=35 and marks<50:
        print('average')
    else:
        print('awesome')

fail

In [ ]:
#other method..

In [25]:

marks=int(input('enter marks='))

if marks<35:
    print('fail')
elif marks>=35 and marks<50:
    print('average')
else:
    print('awesome')

enter marks=55
awesome

In [ ]:
#list

In [2]:
don=[33,6,5,4,5,66,4,4,4,544,3,33,90]

In [29]:
don

[33, 6, 5, 4, 5, 66, 4, 4, 4, 544, 3, 33, 90]

In [ ]:
#slicing

In [30]:
don[5]

66

In [32]:
don[0:3]

[33, 6, 5]

In [33]:
don[3:6]

[4, 5, 66]

In [34]:
don[-1]

90

In [37]:
don[-4:-2]

[544, 3]

In [38]:
don[-1:-4]
#slicng only frd otherwise empty list

[]

In [ ]:
#also

In [39]:
don[-2:3]

[]

In [ ]:
#but

In [5]:
don

[33, 6, 5, 4, 5, 66, 4, 4, 4, 544, 3, 33, 90]

In [40]:
don[-2:3:-1]
#don[start:last-1:difference]

[33, 3, 544, 4, 4, 4, 66, 5]

In [ ]:
#add at last

In [7]:
don.append(11)

In [8]:
don

[33, 6, 5, 4, 5, 66, 4, 4, 4, 544, 3, 33, 90, 11]

In [9]:
don.insert(4,21)

In [10]:
don

[33, 6, 5, 4, 21, 5, 66, 4, 4, 4, 544, 3, 33, 90, 11]

In [12]:
don[0:15]

[33, 6, 5, 4, 21, 5, 66, 4, 4, 4, 544, 3, 33, 90, 11]

In [13]:
don[0:15:2]

[33, 5, 21, 66, 4, 544, 33, 11]

In [15]:
don[-1:2:-2]

[11, 33, 544, 4, 66, 21]

In [16]:
don.remove(544)

In [17]:
don

[33, 6, 5, 4, 21, 5, 66, 4, 4, 4, 3, 33, 90, 11]

In [18]:
don.remove(4)

In [19]:
don
#first place 4 get removed

[33, 6, 5, 21, 5, 66, 4, 4, 4, 3, 33, 90, 11]

In [ ]:
#muliple change in list a-a ,1-1, 1-a

In [42]:
user=['a','c','r','j']
new=['z','g']
pos=[0,2]

for x,y in zip(new,pos):
    user[y]=x

['z', 'c', 'g', 'j']

In [32]:
john=[1,'a','f','h']
son=[5,'e']
pos1=[0,3]

for p,q in zip(pos1,son):
    john[p]=q

In [33]:
john

[5, 'a', 'f', 'e']

In [36]:
john1=[1,'a','f','h']
son1=['c','e']
pos2=[0,3]

for d,l in zip(pos2,son1):
    john1[d]=l

In [37]:
john1

['c', 'a', 'f', 'e']

In [38]:
don

[33, 6, 5, 21, 5, 66, 4, 4, 4, 3, 33, 90, 11]

In [39]:
don.reverse()

In [40]:
don

[11, 90, 33, 3, 4, 4, 4, 66, 5, 21, 5, 6, 33]

In [41]:
don.sort()
don

[3, 4, 4, 4, 5, 5, 6, 11, 21, 33, 33, 66, 90]

In [ ]:
#two list can combine

In [56]:
don2=[33,5,77,8,86]
don+don2

[3, 4, 4, 4, 5, 5, 6, 11, 21, 33, 33, 66, 90, 33, 5, 77, 8, 86]

In [ ]:
#tuple  ()

In [45]:
tp=(3,5,78,43,22,6,3,1,90)

In [51]:
tp[4] #indexing

22

In [52]:
tp[4]=100  #immutable

TypeError: 'tuple' object does not support item assignment

In [53]:
kk=(33,6,99) 
po=(1,3,5)
for w,r in zip(po,kk):
    tp[w]=r

TypeError: 'tuple' object does not support item assignment

In [48]:
don

[3, 4, 4, 4, 5, 5, 6, 11, 21, 33, 33, 66, 90]

In [44]:
don[4]

5

In [47]:
don.count(4)

3

In [50]:
don.count(33)

2

In [ ]:
#sets

In [54]:
adu={22,4,33,4,4,4,22,99,0,0,1,1,1,3,}

In [55]:
adu

{0, 1, 3, 4, 22, 33, 99}

In [ ]:
#unique and sorted

In [67]:
adu[4]
#no indexing

TypeError: 'set' object does not support indexing

In [68]:
adu[4]=55
#no indexing,assigning

TypeError: 'set' object does not support item assignment

In [ ]:
#add values to set

In [57]:
adu.update([33,6,44,21,31])

In [58]:
adu

{0, 1, 3, 4, 6, 21, 22, 31, 33, 44, 99}

In [59]:
adu.append(55)

AttributeError: 'set' object has no attribute 'append'

In [3]:
don

[33, 6, 5, 4, 5, 66, 4, 4, 4, 544, 3, 33, 90]

In [ ]:
#convert list into set

In [61]:
set(don)

{3, 4, 5, 6, 11, 21, 33, 66, 90}

In [62]:
don
#its not fixed

[3, 4, 4, 4, 5, 5, 6, 11, 21, 33, 33, 66, 90]

In [63]:
type(don)

list

In [ ]:
#but

In [64]:
r=set(don)

In [65]:
r

{3, 4, 5, 6, 11, 21, 33, 66, 90}

In [ ]:

#convert set into list

In [69]:
adu

{0, 1, 3, 4, 6, 21, 22, 31, 33, 44, 99}

In [70]:
new_adu=list(adu)

In [71]:
new_adu

[0, 33, 1, 99, 4, 3, 6, 44, 21, 22, 31]

In [72]:
new_adu[5]
#indexing is possible now

3

In [73]:
adu

{0, 1, 3, 4, 6, 21, 22, 31, 33, 44, 99}

In [74]:
adu.remove(21)

In [75]:
adu

{0, 1, 3, 4, 6, 22, 31, 33, 44, 99}

In [76]:
adu.pop(2)

TypeError: pop() takes no arguments (1 given)

In [4]:
don

[33, 6, 5, 4, 5, 66, 4, 4, 4, 544, 3, 33, 90]

In [7]:
#In list
dd=don.pop(4)

In [8]:
dd

5

In [77]:
adu.discard(31)
#same like remove but doesnot give error if value not present..

In [78]:
adu

{0, 1, 3, 4, 6, 22, 33, 44, 99}

In [79]:
don

[3, 4, 4, 4, 5, 5, 6, 11, 21, 33, 33, 66, 90]

In [80]:
don.discard

AttributeError: 'list' object has no attribute 'discard'

In [ ]:
#dictionary

In [ ]:
#how to make dic

In [2]:
mydic={'name':'aakarsh','salary':24000,'loc':'delhi'}

In [7]:
mydic

{'name': 'aakarsh', 'salary': 24000, 'loc': 'delhi'}

In [8]:
mydic['loc']

'delhi'

In [10]:
dic2={'games':['cricket','football','wrestling','tennis'],'loc':['mumbai','delhi','srinagar']}
#dic with list

In [11]:
dic2

{'games': ['cricket', 'football', 'wrestling', 'tennis'],
 'loc': ['mumbai', 'delhi', 'srinagar']}

In [12]:
mydic

{'name': 'aakarsh', 'salary': 24000, 'loc': 'delhi'}

In [14]:
mydic['loc']='gurugram'
#changing value in dic

In [15]:
mydic

{'name': 'aakarsh', 'salary': 24000, 'loc': 'gurugram'}

In [ ]:
#adding new category

In [16]:
mydic['age']=24

In [17]:
mydic

{'name': 'aakarsh', 'salary': 24000, 'loc': 'gurugram', 'age': 24}

In [18]:
dic2

{'games': ['cricket', 'football', 'wrestling', 'tennis'],
 'loc': ['mumbai', 'delhi', 'srinagar']}

In [19]:
dic2.pop('loc')
#removing category

['mumbai', 'delhi', 'srinagar']

In [20]:
dic2

{'games': ['cricket', 'football', 'wrestling', 'tennis']}

In [ ]:
#change key name

In [21]:
mydic

{'name': 'aakarsh', 'salary': 24000, 'loc': 'gurugram', 'age': 24}

In [22]:
mydic['sex']=mydic.pop('age')

In [23]:
mydic

{'name': 'aakarsh', 'salary': 24000, 'loc': 'gurugram', 'sex': 24}

In [9]:
#example-#1

In [10]:
party={'name':['aakarsh','vaishali','komal','yash','swati'],'place':['noida','delhi'],'Alcohol':['wisky','vodka','beer']}

In [11]:
party

{'name': ['aakarsh', 'vaishali', 'komal', 'yash', 'swati'],
 'place': ['noida', 'delhi'],
 'Alcohol': ['wisky', 'vodka', 'beer']}

In [12]:
#adding new column
party['menu']=['chillipatato','chole_chawal','golgappe']

In [13]:
party

{'name': ['aakarsh', 'vaishali', 'komal', 'yash', 'swati'],
 'place': ['noida', 'delhi'],
 'Alcohol': ['wisky', 'vodka', 'beer'],
 'menu': ['chillipatato', 'chole_chawal', 'golgappe']}

In [14]:
#change key name
party['Food']=party.pop('menu')

In [15]:
party

{'name': ['aakarsh', 'vaishali', 'komal', 'yash', 'swati'],
 'place': ['noida', 'delhi'],
 'Alcohol': ['wisky', 'vodka', 'beer'],
 'Food': ['chillipatato', 'chole_chawal', 'golgappe']}

In [16]:
party.pop('place')

['noida', 'delhi']

In [17]:
party

{'name': ['aakarsh', 'vaishali', 'komal', 'yash', 'swati'],
 'Alcohol': ['wisky', 'vodka', 'beer'],
 'Food': ['chillipatato', 'chole_chawal', 'golgappe']}

In [ ]:
#problem 1

In [26]:
sales=[333,44,22,55]
profit=[22,22,11,22]
z=0
for x,y in zip(sales,profit):
    z=(y/x)*100
    print(z)

6.606606606606606
50.0
50.0
40.0

In [1]:
fun={33,77,66,6,65,4,3,1,1,1,40,0,0}

In [2]:
fun

{0, 1, 3, 4, 6, 33, 40, 65, 66, 77}